<h1>Display your Pirate here</h1>
<p><%= @pirate = params[pirate][name] %></p>
<p><%= @weight = params[pirate][height] %></p>
<p><%= @height = params[pirate][weight] %></p>

<h2>Display your first ship here</h2>
<p><%= @ship = params[ships][][name] %></p>
<p><%= @type = params[ships][][type] %></p>
<p><%= @booty = params[ships][][booty] %></p>

<h2>Display your second ship here</h2>
<p><%= @ship = params[ships][][name] %></p>
<p><%= @type = params[ships][][type] %></p>
<p><%= @booty = params[ships][][booty] %></p>
